<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../bootstrap/css/bootstrap.dropdown.hack.css" rel="stylesheet"/>

    <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

    <!-- 引入boobox弹框插件的css文件和js文件 -->
    <script src="../bootstrap/js/bootbox.min.js"></script>
    <script src="../bootstrap/js/bootbox.locales.min.js"></script>

    <!-- 引入datatables表格插件的css文件和js文件 -->
    <link href="../js/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <script src="../js/DataTables/js/jquery.dataTables.min.js"></script>
    <script src="../js/DataTables/js/dataTables.bootstrap.min.js"></script>

    <!-- 引入datetimepicker日期插件的css文件和js文件 -->
    <link href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
            src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>

</body>
</html>